@model Chef

<a asp-controller="Chef" asp-action="Index">Home</a>

<div class="container w-75 mx-auto">
    <form class="shadow p-3 rounded" asp-controller="Chef" asp-action="NewChef" method="POST">
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="FirstName"/>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="LastName"/>
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth"></label>
            <span asp-validation-for="DateOfBirth" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="DateOfBirth"/>
        </div>
    <button type="submit">Add Chef</button>
    </form>
</div>